<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

</head>
<body>
<div th:fragment="ControlPoints_Table">
    <table class="table table-hover" id="control_points_table" width="100%" >
        <thead>
        <tr>
            <th scope="col">Название объекта</th>
            <th scope="col">Долгота</th>
            <th scope="col">Широта</th>
            <th scope="col">Дата последнего обновления</th>

        </tr>
        </thead>
    </table>
</div>
</body>
</html>
